<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/extras.css">
<link rel="icon" href="/img/black_notextfavicon.png" />


{{ block "title" . }}
{{ if eq .URL "/" }}
<title>Home | {{.Site.Title}}</title>
{{ else }}

<title>{{.Page.Title}} | {{.Site.Title}}</title>
{{ end }}

{{ end }}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<script>
    dark_mode = localStorage.getItem('dark_mode')
    if (window.matchMedia('(prefers-color-scheme: dark)').matches || dark_mode == "dark" ){
        var head = document.getElementsByTagName('HEAD')[0]
        var link = document.createElement('link');
        link.rel = 'stylesheet'; 
        link.type = 'text/css';
        link.href = '/css/dark.css'; 
        head.appendChild(link); 
    }
</script>

{{- partial "seo.html" . -}}
</head>