{{ define "main" }}
<main role="main">

    {{ if hasPrefix .URL "/blog/" }}
		<!-- Big Pretty Banner //-->
		<div class="container-fluid px-0 mx-0">
			<div class="container p-5 my-4 shadow">
				<h2 class="pb-2 border-bottom text-muted">{{.Page.Title}}</h2>
				<p class="lead">{{ .Date.Format "Monday, January 2, 2006" | safeHTML }} -
					{{ range .Params.authors }}
						{{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
							{{ .Params.name }} ({{.Params.role}})
						{{ end }}
					{{ end }}</p>
			</div>
		</div>
    {{ else }}
		<!-- Big Pretty Banner //-->
		<div class="container-fluid px-0 mx-0">
			<div class="container p-5 my-4 shadow">
				<h2 class="pb-2 border-bottom text-muted">{{.Title}}</h2>
				<p class="lead">{{.Params.Callout}}</p>
			</div>
		</div>
    {{ end }}

    <div class="container page-content p-5 my-4 shadow">
        {{ if hasPrefix .URL "/blog/" }}
            <div class="col-12 py-2">
                <!-- <div class="row py-1">
                    <div class="text-right">
                    </div>&nbsp;&nbsp;
                    <div class="text-right">
                        {{ range .Params.categories }}
                            {{ with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
                                <a href="{{.Permalink}}"><span class="badge badge-{{.Params.color}}">{{ .Params.name }}</span></a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div> -->
            </div>
        {{ end }}
    {{ .Content }}
    </div>

</main>
{{ end }}
